<div class="level is-mobile p-l-md p-r-md">
  <div class="level-left">
    <div class="level-item">
      <div class="content">
        <h3 class="has-text-white has-text-weight-semibold is-marginless" data-test-1rm-header>One Rep Max</h3>
        <p class="has-text-grey-light">Theoretical upper limit</p>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="content">
        <h3 class="has-text-white has-text-weight-semibold is-marginless" data-test-1rm-record>{{@highestOneRepMax}}</h3>
        <p class="has-text-grey-light has-text-right">lbs</p>
      </div>
    </div>
  </div>
</div>